*/.env
.env
.vscode
*/node_modules
node_modules
*.http
*:Zone*
*.Identifier*
*/*:Zone*
*/*.Identifier*
*sessions.db
*/*sessions.db
./backend/storage/databases/auth.db
./backend/storage/databases/auth.db-shm
./backend/storage/databases/auth.db-wal
./backend/storage/databases/sessions.db
./backend/storage/databases/users.db-shm
./backend/storage/databases/users.db-wal