services:
  # Init container to set proper ownership
  volume-init:
    image: alpine:latest
    command: |
      sh -c "
        chmod -R 777 /front_end /db_storage /uploads /backend_controller /backend_auth /backend_users /backend_games /backend_cdn
      "
    volumes:
      - front_end:/front_end
      - db_storage:/db_storage
      - uploads:/uploads
      - backend_controller:/backend_controller
      - backend_auth:/backend_auth
      - backend_users:/backend_users
      - backend_games:/backend_games
      - backend_cdn:/backend_cdn
      - backend_tournaments:/backend_tournaments

  frontend:
    container_name: frontend
    volumes:
      - front_end:/app
    build: ./frontend
    restart: on-failure
    ports:
      - "443:443"
    networks:
      - transcendence

  backend:
    container_name: backend
    volumes:
      - backend_controller:/app
      - certificates:/app/certs
    build: ./backend/controller
    restart: on-failure
    environment:
      - PORT=4161
      - FRONTEND_URL=https://localhost
      - AUTH_URL=http://backend_auth:41610
      - USERS_URL=http://backend_users:41611
      - CDN_URL=http://backend_cdn:41612
      - TOURNAMENTS_URL=http://backend_tournaments:41613
    ports:
      - "4161:4161"
    networks:
      - transcendence
      - micro-services

  backend_auth:
    container_name: backend_auth
    volumes:
      - backend_auth:/app
      - db_storage:/app/src/database
    build: ./backend/auth
    restart: on-failure
    environment:
      - DEFAULT_PIC=/cdn/avatars/kermit.webp
      - DB_FILE=/app/src/database/auth.db
      - USERS_TABLE=users
      - SESSIONS_DB=/app/src/database/sessions.db
      - SESSION_SECRET=${SESSION_SECRET}
      - CDN_URL=http://backend_cdn:41612
      - USERS_URL=http://backend_users:41611
      - PORT=41610
    networks:
      - micro-services

  backend_users:
    container_name: backend_users
    volumes:
      - backend_users:/app
      - db_storage:/app/src/database
    build: ./backend/users
    restart: on-failure
    environment:
      - PORT=41611
      - DB_FILE=/app/src/database/users.db
      - USERS_TABLE=users
      - STATS_TABLE=stats
      - HISTORY_TABLE=history
      - FRIENDS_TABLE=friends
    networks:
      - micro-services

  backend_games:
    container_name: backend_games
    volumes:
      - backend_games:/app
      - certificates:/app/certs
      - db_storage:/app/src/database
    build: ./backend/games
    restart: on-failure
    environment:
      - SESSIONS_DB=/app/src/database/sessions.db
      - SESSION_SECRET=${SESSION_SECRET}
      - FRONTEND_URL=https://localhost
      - TOURNAMENT_URL=http://backend_tournaments:41613
      - USERS_URL=http://backend_users:41613
      - PORT=4116
    ports:
      - "4116:4116"
    networks:
      - micro-services
      - transcendence

  backend_cdn:
    container_name: backend_cdn
    build: ./backend/cdn
    volumes:
      - backend_cdn:/app
      - uploads:/app/public/uploads
    restart: on-failure
    environment:
    - PORT=41612
    - FRONTEND_URL=https://localhost
    networks:
      - micro-services

  backend_tournaments:
    container_name: backend_tournaments
    build: ./backend/tournaments
    volumes:
      - backend_tournaments:/app
      - db_storage:/app/src/database
    restart: on-failure
    environment:
      - SESSIONS_DB=/app/src/database/sessions.db
      - SESSION_SECRET=${SESSION_SECRET}
      - PORT=41613
      - GAMES_URL=http://backend_games:4116
    networks:
      - micro-services

volumes:
  front_end:
    name: front_end
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/frontend/app
      o: bind
  certificates:
    name: certificates
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/frontend/app/certs
      o: bind
  db_storage:
    name: db_storage
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/backend/storage/databases
      o: bind
  uploads: 
    name: uploads
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/backend/storage/uploads
      o: bind
  backend_users:
    name: backend_users
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/backend/users/app
      o: bind
  backend_auth:
    name: backend_auth
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/backend/auth/app
      o: bind
  backend_controller:
    name: backend_controller
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/backend/controller/app
      o: bind
  backend_games:
    name: backend_games
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/backend/games/app
      o: bind
  backend_cdn:
    name: backend_cdn
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/backend/cdn/app
      o: bind
  backend_tournaments:
    name: tournaments
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/backend/tournaments/app
      o: bind

networks:
  transcendence:
    name: transcendence
    driver: bridge
  micro-services:
    name: micro-services
    driver: bridge
