services:
  frontend:
    image: frontend
    container_name: frontend
    volumes:
      - front_end:/app
    build: ./frontend
    restart: on-failure
    ports:
      - "3000:3000"
    networks:
      - transcendence
  backend:
    image: backend
    container_name: backend
    volumes:
      - back_end:/app
    build: ./backend
    restart: on-failure
    networks:
      - transcendence

volumes:
  front_end:
    name: front_end
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/frontend/src
      o: bind
  back_end:
    name: back_end
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/backend/src
      o: bind

networks:
  transcendence:
    name: transcendence
    driver: bridge
