services:
  frontend:
    container_name: frontend
    build:
      context: ./frontend
    ports:
      - "8443:443"
    volumes:
      - front_end:/app
    networks:
      - transcendence
      - micro-services
    environment:
      - NODE_ENV=production
    restart: on-failure

  backend:
    container_name: backend
    volumes:
      - backend_controller:/app
    build: ./backend/controller
    restart: on-failure
    environment:
      - PORT=4161
      - FRONTEND_URL=https://localhost:8443
      - AUTH_URL=http://backend_auth:41610
      - USERS_URL=http://backend_users:41611
      - CDN_URL=http://backend_cdn:41612
    networks:
      - transcendence
      - micro-services

  backend_auth:
    container_name: backend_auth
    volumes:
      - backend_auth:/app
    build: ./backend/auth
    restart: on-failure
    environment:
      - DEFAULT_PIC=/cdn/avatars/kermit.webp
      - DB_FILE=/app/src/databases/auth.db
      - USERS_TABLE=users
      - SESSIONS_DB=/app/src/databases/sessions.db
      - SESSION_SECRET=${SESSION_SECRET}
      - CDN_URL=http://backend_cdn:41612
      - USERS_URL=http://backend_users:41611
      - PORT=41610
    networks:
      - micro-services

  backend_users:
    container_name: backend_users
    volumes:
      - backend_users:/app
    build: ./backend/users
    restart: on-failure
    environment:
      - PORT=41611
      - DB_FILE=/app/src/databases/users.db
      - USERS_TABLE=users
      - STATS_TABLE=stats
      - HISTORY_TABLE=history
      - FRIENDS_TABLE=friends
    networks:
      - micro-services

  backend_games:
    container_name: backend_games
    volumes:
      - backend_games:/app
    build: ./backend/games
    restart: on-failure
    environment:
      - SESSIONS_DB=/app/src/databases/sessions.db
      - SESSION_SECRET=${SESSION_SECRET}
      - FRONTEND_URL=https://localhost:8443
      - USERS_URL=http://backend_users:41611
      - AUTH_URL=http://backend_auth:41610
      - PORT=4116
    networks:
      - micro-services
      - transcendence

  backend_cdn:
    container_name: backend_cdn
    build: ./backend/cdn
    volumes:
      - backend_cdn:/app
    restart: on-failure
    environment:
    - PORT=41612
    - FRONTEND_URL=https://localhost:8443
    networks:
      - micro-services

volumes:
  front_end:
    name: front_end
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/frontend/app
      o: bind
  backend_users:
    name: backend_users
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/backend/users/app
      o: bind
  backend_auth:
    name: backend_auth
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/backend/auth/app
      o: bind
  backend_controller:
    name: backend_controller
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/backend/controller/app
      o: bind
  backend_games:
    name: backend_games
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/backend/games/app
      o: bind
  backend_cdn:
    name: backend_cdn
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/backend/cdn/app
      o: bind

networks:
  transcendence:
    name: transcendence
    driver: bridge
  micro-services:
    name: micro-services
    driver: bridge
