services:
  # Init container to set proper ownership
  volume-init:
    image: volume-init
    command: |
      sh -c "
        chown -R 1001:1001 /backend_users &&
        chmod -R 755 /backend_users
      "
    volumes:
      - backend_users:/backend_users

  frontend:
    image: frontend
    container_name: frontend
    volumes:
      - front_end:/app
    build: ./frontend
    restart: on-failure
    ports:
      - "4116:4116"
    networks:
      - transcendence

  backend:
    image: backend
    command: |
      sh -c "
        chown -R 1001:1001  &&
        chmod -R 755 /auth-data /user-data /chat-data /game-data /user-uploads
      "
    container_name: backend
    volumes:
      - backend_users:/app
    build: ./backend/users
    restart: on-failure
    ports:
      - "4161:4161"
    networks:
      - transcendence

volumes:
  front_end:
    name: front_end
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/frontend/app
      o: bind
  # backend_auth:
  #   name: backend_auth
  #   driver: local
  #   driver_opts:
  #     type: none
  #     device: ${PWD}/backend/auth/app
  #     o: bind
  backend_users:
    name: backend_users
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/backend/users/app
      o: bind
  # backend_router:
  #   name: backend_router
  #   driver: local
  #   driver_opts:
  #     type: none
  #     device: ${PWD}/backend/router/app
  #     o: bind

networks:
  transcendence:
    name: transcendence
    driver: bridge
