services:
  frontend:
    image: frontend
    container_name: frontend
    volumes:
      - front_end:/app
    build: ./frontend
    restart: on-failure
    pid: 'true'
    ports:
      - "3000:3000"
    networks:
      - transcendence

volumes:
  front_end:
    name: front_end
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/frontend
      o: bind

networks:
  transcendence:
    name: transcendence
    driver: bridge
