@import url("https://fonts.googleapis.com/css2?family=Sixtyfour");
@import "tailwindcss";

@theme {
	--font-sixty: 'Sixtyfour', sans-serif;
}

@layer theme, components, utilities;

.clicky {
	cursor: pointer;
}

.clicky:hover {
	scale: 1.25;
}
